{% extends "base.html" %}
{% block links %}
    <ul>
        <li><a href="{% url 'unos_prodavnice' %}">Unesi prodavnicu</a></li>
    </ul>
{% endblock %}
{% block content %}
{% if prodavnice %}
    <table>
      <tr>
        <th>PIB</th>
        <th>Naziv</th>
        <th>Adresa</th>
        <th>Broj telefona</th>
        <th>Izmena</th>
        <th>Brisanje</th>
      </tr>
    {% for p in prodavnice %}
      <tr>
        <td>{{p.pib}}</td>
        <td>{{p.naziv}}</td>
        <td>{{p.adresa}}</td>
        <td>{{p.broj_telefona}}</td>
        <td><a href="{% url 'unos_prodavnice_p' id=p.id%}" >Izmeni</a> </td>
        <td><a href="{% url 'brisanje_prodavnice' id=p.id %}">Obrisi</a></td>
      </tr>
    {% endfor %}
    </table>
{% else %}
   <p>Nema prodavnica za prikaz</p>
{% endif %}
{% endblock %}